@font-face {
	font-family: "Minecraft";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/minecraft_font.eot") format("eot"),
		url("fonts/minecraft_font.woff") format("woff"),
		url("fonts/minecraft_font.ttf") format("truetype"),
		url("fonts/minecraft_font.svg#Minecraft") format("svg");
}

body {
	background: #18100a url("../images/dirt.png") repeat;
	background-size: 64px;
    image-rendering: pixelated;
	color: #fcfcfc;
	font-family: Minecraft, sans-serif;
	margin: 0;
	font-size: 16px;
}

::-webkit-scrollbar {
	/* width */
	width: 16px;
	height: 16px;
}
::-webkit-scrollbar-track {
	/* Track */
	background: #000;
}
::-webkit-scrollbar-thumb {
	/* Handle */
	background: #c0c0c0;
	border-bottom: 2px inset #808080;
	border-right: 3px inset #808080;
}
::-webkit-scrollbar-thumb:hover {
	/* Handle on hover */
	background: #c0c0c0;
}

.vam {
	vertical-align: middle;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-grow {
	display: flex;
	flex-grow: 1;
}

img {
	height: auto;
	max-width: 100%;
	border: 0;
	image-rendering: initial;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	font-size: 16px;
	font-weight: normal;
}

a {
	color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.no-select {
	-webkit-user-select: none;
   	-ms-user-select: none;
   	user-select: none;
}

.light-bg {
	background: #2e2015 url("../images/dirt-light.png") repeat;
	background-size: 64px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.93);
}

.mc-button {
	outline: 2px solid black;
	display: inline-block;
	background: #6d6d6d url("../images/button_center.png") repeat;
	padding: 6px 28px 6px 28px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px #3e3e3e;
	border-bottom: 4px solid #565656;
	border-right: 2px solid #565656;
	border-left: 2px solid #aaa;
	border-top: 2px solid #aaa;
	box-sizing: border-box;
	text-decoration: none;
	font-family: Minecraft, sans-serif;
	font-size: inherit;
	font-weight: 400;
	-webkit-user-select: none;
	cursor: default;
	outline-offset: 0;
}

.mc-button > span {
	text-decoration: none;
	cursor: default;
}

.mc-button:hover {
	outline: 2px solid #fff;
}

.mc-button.small {
	padding: 5px 28px 5px 28px;
}

.mc-button.x-small {
	padding: 5px 18px 5px 18px;
	font-size: 95%;
}

.mc-button.block {
	width: 100%;
	box-sizing: border-box;
}

.text-sh {
	text-shadow: 2px 2px #3e3e3e;
}

.light-text {
	color: #9e9e9e!important;
}

.light-text.text-sh {
	text-shadow: 2px 2px #282828;
}

.dark-text {
	color: #404040!important;
}

.red-text {
    color: #a80000!important;
}

.red-text.text-sh {
    text-shadow: 2px 2px #2f2f2f;
}

.center {
	text-align: center;
}

.container {
	max-width: 720px;
	margin: 0 auto;
	padding: 0 1rem;
	box-sizing: border-box;
	word-wrap: break-word;
}

.margin-small {
	min-height: 15px;
}

.margin-x-large {
	min-height: 50px;
}

.box-border {
    background-color: #c6c6c6;
    border: 6px solid;
    border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAWUlEQVQoU2WP4Q1AMQSEWat7mMsg9mCseyGhmueHXPtd1THdwtLcugWAy5nretoDk0QEnXPKlK7HkFBV6wczqzFj2HAbUsPd52Uv2BP6DBGZIAl7h5WOflE/+34sBispxMQAAAAASUVORK5CYII=') 3 repeat;
    image-rendering: pixelated;
    background-clip: padding-box;
}

.inner-box-border {
    background-color: #8b8b8b;
    border: 2px solid;
    border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKElEQVQYV2M0Nzf/z4AEGEECJ0+eZASJ/f///z+mQHd39/+SkhK4JgCr7BWdSCVjYQAAAABJRU5ErkJggg==') 1 repeat;
    image-rendering: pixelated;
}

.emoji {
	max-width: 32px;
	max-height: 32px;
	vertical-align: middle;
}

.page-height {
	min-height: calc(100vh - 145px);
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.nav .container {
	min-height: 60px;
}

.nav-height {
	min-height: 60px;
}

.nav-margin {
	min-height: 72px;
}

.nav .logo {
	color: #fcfcfc;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.nav .logo span {
	padding: 2px 0;
	margin: 0;
	text-shadow: 2px 2px #3e3e3e;
}

.nav .logo img {
	height: 26px;
	image-rendering: pixelated;
	flex-shrink: 0;
	margin-right: 8px;
	-webkit-filter: drop-shadow(1px 1px #3e3e3e);
}

.nav-dropdown-container {
    position: fixed;
    left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 101;
}

.nav-dropdown {
	float: right;
	text-align: left;
	background-color: #c6c6c6;
    color: #fcfcfc;
	min-width: 10rem;
	z-index: 102;
	margin-top: -6px;
}

.nav-dropdown > div {
	padding: 0;
	margin: 4px;
}

@media only screen and (max-width: 420px) {
	.nav .logo span {
		display: none;
	}
	.nav .logo img {
		height: 28px;
	}
}

.footer {
	margin-top: 15px;
    padding: 18px 0;
}

.footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10000;
}

.form {
	max-width: 450px;
	margin: 0 auto;
}

.text-input {
	background-color: #000;
	color: #dddddd;
	font-size: 16px;
	font-family: Minecraft, sans-serif;
	padding: 9px 9px 11px 9px;
	border: none;
	outline: 2px solid #a0a0a0;
	max-width: 100%;
	box-sizing: border-box;
}

.text-input.block {
	width: 100%;
}

.text-input:focus {
	outline: 2px solid #fff;
}

.text-input::placeholder {
	font-family: Minecraft, sans-serif;
}

.dropdown-btn {
	padding: 1px 0;
	cursor: pointer;
	outline: none;
}

.dropdown-btn > span {
	margin-right: 4px;
}

.dropdown-btn span:first-child {
	margin-right: 8px;
	text-overflow: ellipsis;
}

.dropdown-arrow {
	display: inline-block;
    background: transparent url(../images/stats_icons.png) -19px 0px;
    width: 16px;
    height: 16px;
	image-rendering: pixelated;
	-ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
}

.dropdown-arrow.active {
	background: transparent url(../images/stats_icons.png) -36px 0px;
}

.mc-button .dropdown-arrow {
	-ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.dropdown .dropdown-item {
	display: block;
	padding: 7px 8px 9px 8px;
	background-color: #8b8b8b;
	font-size: 90%;
	cursor: pointer;
}

.dropdown .dropdown-item:hover {
	background-color: #666666;
}

.dropdown .dropdown-item > span {
	display: flex;
	align-items: center;
}

.tool-tip {
    color: #fff;
    background-color: #110210;
    border: 4px solid;
    border-image: url(../images/mc-tooltip-border-12x12.png) 4 repeat;
    padding: 3px 4px 4px 4px;
	background-clip: padding-box;
    image-rendering: pixelated;
}

#posts,
#followedposts {
    display: block;
    margin-top: 8px;
    margin-bottom: 14px;
}

.post {
	display: block;
	text-decoration: none;
	min-height: 50px;
	padding: 3px 4px;
	margin-bottom: 2px;
	cursor: default;
}

.post a {
	color: inherit;
	text-decoration: none;
}

.post:focus {
	outline: #808080 solid 2px;
	background-color: #000;
}

.pfp {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
}

.pfpBlock {
	margin-bottom: 14px;
}

.pfpBlock .pfp {
	width: 45px;
	height: 45px;
	margin-right: 4px;
}

.verify {
	display: inline-block;
	padding: 1px 8px;
	image-rendering: pixelated;
	-ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
}

.badges {
	display: block;
	margin: 10px 0 14px 0;
}

.badge {
	display: inline-block;
	font-size: 90%;
}

#comtent {
	width: 100%;
	height: 75px;
}

.comment {
	margin-bottom: 12px;
}

.comment .content {
	margin-top: 6px;
}

.comment .replyto {
	display: inline-block;
	margin-top: 6px;
}

.profile .post {
	min-height: 23px;
	margin-bottom: 6px;
}

.profile .pfp {
	width: 65px;
	height: 65px;
	margin-right: 10px;
}

.profile .pfpBlock .userRight {
	margin-left: 12px;
}